body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.App {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	margin-top: 2rem;
}

label {
	margin: 0;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
}

.group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: flex-start;
	background-color: #3f51b5;
	padding: 0.8rem 1rem;
	border-radius: 0.75rem;
}

.group input[type="checkbox"] {
	margin: 0;
	justify-self: flex-end;
}
